body{
 width: 100%;
 margin: 0;
 background-color: #3f58be;

}
h1{
    display: inline-block;
}
i{
    font-size: x-large;
    margin-left: 30px;
}
.to-do-app{
    background-color: white; 
    width: 50%;
    margin: 100px auto 20px;
    padding-left: 100px;
    border-radius: 20px;
    min-height: 200px;
    
}

.input{
    flex:1;
    width: 250px;
    height: 30px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size:large;

}
.input-btn{
   width: 100px;
   height: 40px;
   margin-left: 10px;
   border: 0;
   font-weight: bold;
   border-radius: 20px;
   background-color: blue;
   color: whitesmoke;
   
}
.input-btn:hover{
    background-color: rgb(34, 34, 59);
}
li{
    list-style: none;
    cursor: pointer;
     font-size:large;
    
}
 li::before{
   content: '';
  

}
li.checked{
    text-decoration: line-through;
}

#list-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

#list-container li {
  background-color: #f1f2f6;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  cursor: pointer;
}

#list-container li:hover {
  background-color: #dcdde1;
}

#list-container li span {
  font-size: 18px;
}

