body{
 width: 100%;
 margin: 0;
 background-color:blue;

}
h1{
    display: inline-block;
}
i{
    font-size: x-large;
    margin-left: 30px;
}
.to-do-app{
    background-color: white; 
    width: 50%;
    margin: 100px auto 20px;
    padding-left: 100px;
    border-radius: 20px;
    min-height: 200px;
    
}
.row{
    display: flex;
    width: 50%;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(203, 196, 196);
    border-radius: 20px;
}
.input{
    flex:1;
    width: 250px;
    height: 30px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size:large;

}
.input-btn{
   width: 100px;
   margin-left: 10px;
   border: 0;
   font-weight: bold;
   border-radius: 20px;
   background-color: blue;
   color: whitesmoke;
   
}
.input-btn:hover{
    background-color: rgb(34, 34, 59);
}
li{
    list-style: none;
    cursor: pointer;
     font-size:large;
    
}
 li::before{
   content: '';
  

}
li.checked{
    text-decoration: line-through;
}

li i{
    font-size: small;
  
    

}

i:hover{
    color: rgb(147, 142, 142);

}
.pagination{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    
}
.pagination button{
    width: 50px;
    height: 30px;
    border: 0;
    margin-right: 20px;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
}
.pagination button:hover{
 background-color: blueviolet;
}